/* -------------------------------------------------------------------------------IDs-------------------------------------------------------------------------------------- */
#title {
  background-color: #ff4c68;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat';
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#cta {
  background-color: #ff4c68;
  padding: 7% 25% 7%;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

#footer {
  text-align: center;
  padding: 3% 25% 8%;
}

/* -------------------------------------------------------------------------------general--------------------------------------------------------------------------------------- */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* -------------------------------------------------------------------------------classes----------------------------------------------------------------------------------------- */
.navbar {
  padding: 0 0 4.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: 'Ubuntu', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.feature-box1 {
  text-align: center;
  padding: 8%;
}

.feature-box2 {
  text-align: center;
  padding: 8%;
}

.feature-box3 {
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
}

.testimonial-image {
  border-radius: 100%;
  width: 13%;
}

.carousel-item {
  padding: 7% 17%;
}

.testimonial-text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.pricing-col {
  padding: 3% 2%;
  text-align: center;
}

.title-img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.pad-btn {
  margin-top: 55px;
}

.cta-h3 {
  font-size: 3rem;
}

.btn-2 {
  margin: 5% 2% 0;
}

.contact-me {
  margin: 3% 3%;
  margin-bottom: 5%;
}

/* --------------------------------------------------------------------------media--------------------------------------------------------------------------------------------------- */
@media (max-width: 1264px) {
  .title-img {
    position: static;
    transform: rotate(360deg);
  }

  .slogan {
    text-align: center;
  }

  #title {
    text-align: center;
  }
}
